.left-board {
  input[type="date"]::before {
    content: attr(placeholder) ":";
  }
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.td-button {
  // width: ;
}

.table-board {
  .left-board {
    .filterDate {
      border-radius: 8px;
      flex-direction: row;
      align-items: center;
      display: flex;
      margin-left: 1rem;

      input {
        border: none;
        margin: 0rem 1rem;
      }
      input:focus {
        outline: 0;
      }

      .iconDate {
        padding: 0.3rem;
      }
    }
  }
}

//custom datepicker antd

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: red !important;
}
.ant-picker-cell-today {
  .ant-picker-cell-inner {
    &::before {
      border-color: red !important;
    }
  }
}
