input ~ .icon-eye {
  position: absolute;
  transform: translateY(0%);
  right: 12.5rem;
}
.table-assignments h3{
   color: #cf2338;
   padding-top: 100px;
}
.table-assignments .btnClear{
  color: black;
}
.table-assignments .btnReload{
  color: rgb(62, 62, 221);
}
.button-group{
  margin: 20px;
}
.modal-header h5{
  padding-left: 20px;
  font-weight: bold;
}
.modal-body h6{
  padding-left: 20px;
}




